<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="aboutMe">
    <h1>About Me</h1>
    <p>I'm Enrique. :)</p>
    <h3>Things I like</h3>
    <ul>
        <li>Cars</li>
        <li>watches</li>
        <li>games</li>
        <li>anime</li>
    </ul>
    <h3>links</h3>
    <a href="/">home</a>
    <a href="/photos">photos</a>
    <a href="/works">works</a>
</body>
</html>