<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>pics of things (me)</h1>
    <p>
        <img src="../public/images/enrique.jpg" alt="coulnt load"/>
        <img src="../public/images/linus.png" alt="coulnt load"/>
    </p>

    <a href="/">home</a>
    <a href="/aboutMe">about me</a>
    <a href="/works">works</a>
</body>
</html>